@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  @apply bg-olive-light;
}


.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 35%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* Estilos Linda */

.baseBtn {
  @apply rounded-full !important;
}

.baseBtn:hover {
  @apply opacity-60 !important;
}

.baseBtn:active {
  @apply opacity-80 !important;
}
.primaryBtn {
  @apply baseBtn bg-olive text-white !important;
}

.dangerBtn {
  @apply baseBtn bg-red-800 text-white !important;
}

.textBtn {
  @apply baseBtn bg-transparent text-gray-600 !important;
}




/* styles element plus */


.el-input__wrapper {
  border-radius: 20px !important;
}

.el-input__wrapper.is-focus {
  box-shadow: #B2B6A5 !important;
}

.el-avatar {
  @apply bg-olive !important;
}